    <div class="container mt-5">
      <h1 class="text-center mb-4">Contáctanos</h1>
  
      <div class="row">
        <div class="col-md-8 mx-auto">
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre Completo</label>
              <input type="text" class="form-control" id="nombre" placeholder="Tu nombre completo" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electronico" required>
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu numero de contacto" required>
            </div>
            <div class="mb-3">
              <label for="mensaje" class="form-label">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="4" placeholder="En que podamos ayudarte?" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Enviar Mensaje</button>
          </form>
        </div>
      </div>
    </div>