<div class="container">
    <div class="col">
        <h1>{{titulo}}</h1>
    </div><br>
    <form class="form-group row">
        <div class="form-group col-md-3">
            <label for="nombre">Marca del Vehiculo:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese la marca del vehiculo" class="form-control" [(ngModel)]="cuadroNombre">
        </div>
        <div class="form-group col-md-3">
            <label for="nombre">Modelo del Vehiculo:</label>
            <input type="text" name="apellidos" id="apellidos" placeholder="Ingrese el modelo del vehiculo" class="form-control" [(ngModel)]="cuadroApellido">
        </div>
        <div class="form-group col-md-3">
            <label for="cargo">N° de motor:</label>
            <input type="text" name="cargo" id="cargo" placeholder="Digite el numero de motor" class="form-control" [(ngModel)]="cuadroCargo">
        </div>
        <div class="form-group col-md-3">
            <label for="color">Color del vehiculo:</label>
            <input type="text" name="color" id="color" placeholder="Ingrese el color del vehiculo" class="form-control" [(ngModel)]="cuadroColor">
        </div>
        <div class="form-group col-md-3">
            <label for="trasmicion">Trasmicion del vehiculo:</label>
            <input type="text" name="trasmicion" id="trasmicion" placeholder="Ingrese la trasmicion" class="form-control" [(ngModel)]="cuadroTrasmicion">
        </div>
        <div class="form-group col-md-3">
            <label for="anio">Año del Vehiculo:</label>
            <input type="number" name="anio" id="anio" placeholder="Ingrese el año del vehiculo" class="form-control" [(ngModel)]="cuadroAnio">
        </div>
        <div class="form-group col-md-3">
            <label for="salario">Valor del Vehiculo:</label>
            <input type="number" name="salario" id="salario" placeholder="Digite el valor del vehiculo" class="form-control" [(ngModel)]="cuadroSalario">
        </div>
        <div class="form-group col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100" (click)="guardar_empleado()">Guardar Vehiculo</button>
        </div>
    </form>

    <div *ngFor="let empleado of empleados; let i = index" class="mb-3 d-flex justify-content-between align-items-center">
      <app-empleado-hijo-c [empleadoLista]="empleado" [indice]="i"></app-empleado-hijo-c>
      <div class="text-end mt-2"> <!-- Alineación a la derecha y margen superior -->
        <button class="btn btn-danger" (click)="eliminar_empleado(i)">Eliminar</button>
      </div>
  </div>
    

</div>

